{% extends "base/base_layout.html" %}
{% block main %}
<div class="row">
	<h4>Add Locker</h4>
	<form action="{{request.path}}" method="POST">
	{{ form.csrf_token }}
	<div class="row">
	<div>
	<div class="input-field col s12">
	{{ form.name }}
	{{ form.name.label }}
	</div>

	<div class="input-field col s12">
	{{ form.size }}
	{{ form.size.label }}
	</div>
	</div>
	</div>
	<button type="submit" class ="indigo darken-1 waves-effect waves-light btn">ADD</button>	
	</form>
</div>
{% endblock %}
