{% extends "base/base_layout.html" %}
{% block main %}
<h3>My Locker</h3>
<div class="row">
{% for locker in lockers %}
<div class="col s12 m6">
<div class="card-panel grey darken-4 white-text">
	<p id="{{ locker.id }}" class="left"><i class="medium material-icons">brightness_1</i></p>
<p class="white-text right"><i class="tiny material-icons">access_time</i> EXP:{{ locker.expired_date }} </p>
<h4><i class="medium material-icons center">dns</i>{{ locker.name }}</h4>

<a href="#" onclick="openLocker('{{ locker.id }}')" class="waves-effect waves-light btn light-blue darken-4"><i class="material-icons left">lock_open</i>OPEN</a>

</div>
</div>
{% endfor %}

</div>
<script type="text/javascript">
{% for locker in lockers %}
//var curr_sta = 'True';
//if curr_sta != '{{ locker.status_opened }}' {
var myVar = setInterval(loadDoc, 1000, "{{ locker.id }}"); 
//	var curr_sta = '{{ locker.status_opened }}';
//}
{% endfor %}
</script>
{% endblock %}
