{% extends "base/base_layout.html" %}
{% block main %}
<div class="container">
	<h4>Select Locker to reservation</h4>
	<br>
	{% if user.roles == 'admin' %}
	<a href="addlockers" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
	{% endif %}
	<div class="row">
	 <table class="highlight">
        <thead>
          <tr>
              <th>Locker</th>
              <th>Size</th>
	      <th>Status</th>
		<th>Select</th>
	{% if user.roles == 'admin' %}
	      <th>Renter</th>
	      <th>EXP</th>
	{% endif %}
          </tr>
        </thead>
	{% for locker in lockers %}
        <tbody>
          <tr>
		  <td>{{ locker.name }}</td>
		  <td>{{ locker.size }}</td>
		  {% if locker.availability == true %}
		  <td>
		  <div class="chip green darken-2 white-text">Availability</div>
		  </td>
		  <td>
		  <a href="{{ url_for('dashboard.reserve', locker_id=locker.id) }}" class="waves-effect waves-light btn indigo darken-4">reserve</a>
		  </td>
		{% else %}
		  <td>
		  <div class="chip red darken-2 white-text">Reserved</div>
		  </td>

		  <td>
		  <a class="waves-effect waves-light btn disabled">reserve</a>
		  </td>
		  {% endif %}
	{% if user.roles == 'admin' %}
	<td>{{ locker.renter.username }}</td>
	<td>{{ locker.expired_date }}</td>
	{% endif %}
	  </tr>
	  {% endfor %}
        </tbody>
      </table>
	</div>
</div>

{% endblock %}
