{% extends "base/base_layout.html" %}
{% block main %}
<br>
<div class="row">
<h4>Select Hour to reservation</h4>
      <table class="striped col s12 l6">
        <thead>
          <tr>
              <th>Hour</th>
              <th>Price (points)</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>1</td>
            <td>500</td>
          </tr>
          <tr>
            <td>3</td>
            <td>1500</td>
          </tr>
          <tr>
            <td>6</td>
            <td>5000</td>
          </tr>
          <tr>
            <td>9</td>
            <td>7000</td>
          </tr>
          <tr>
            <td>12</td>
            <td>10,000</td>
          </tr>
        </tbody>
      </table>
      <br>
<form action="{{request.path}}" method="POST">
{{ form.csrf_token }}
  <div class="input-field col s6">

{{ form.hour }}
{{ form.hour.label }}
</div>
<button type="submit" class ="indigo darken-1 waves-effect waves-light btn">RESERVE</button>

</form>
</div>
{% endblock %}
