<!DOCTYPE html>
  <html>
    <head>	
    <title>{% block title  %}{{ config.get('APP_TITLE') }}{% endblock %}</title> 
    <link rel="stylesheet" type="text/css"
    href="/static/node_modules/materialize-css/dist/css/materialize.min.css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="/static/openlocker.js"></script>

   </head>

    <body class="grey lighten-3">
	{% include "base/navbar.html" %}
	<main>
	<div class="container">
	<div class="row">
	{% block main %}{% endblock %}
	</div>
	</div>
	</main>


    </body>
     <script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
     <script src="/static/node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <script type="text/javascript">
   	$(".button-collapse").sideNav();
 	$('select').material_select();
    </script>

  </html>

