<!DOCTYPE html>
  <html>
    <head>	
    <title>{% block title  %}{{ config.get('APP_TITLE') }}{% endblock %}</title> 
     <link rel="stylesheet" type="text/css"
    href="/static/node_modules/materialize-css/dist/css/materialize.min.css">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

   </head>

    <body>
	<main>
	{% block main %}{% endblock %}
	</main>


    </body>
     <script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
     <script src="/static/node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <script type="text/javascript">

    $('.slider').slider();
    $('.button-collapse').sideNav();
		$('select').material_select();
    $('.modal').modal();

    </script>

  </html>

