<nav class=" indigo darken-4">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center">  {{ config.get('APP_TITLE') }}</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large"><i class="large material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
	<li><a href="/logout">Logout</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
      <li><div class="user-view grey darken-4">
                <!--  <div class="row">-->
		<!--         <div class="col s4">-->
                <!--               <a><i class=" large material-icons" style="font-size: 50px">account_circle</i> Points: {{ user.points }}</a>-->
		<!--         </div>-->
		
		<!-- </div>-->
      <!-- <a><img class="circle" src="images/yuna.jpg"></a>-->
      <a><i class=" large material-icons" style="font-size: 50px">account_circle</i> Points: {{ user.points }}</a>
      <!-- <i style="font-size: 1.5rem" class="material-icons">add_circle</i>-->

      <a><span class="white-text name">{{ user.first_name }}  {{ user.last_name }}</span></a>
      <a><span class="white-text email">{{ user.email }}</span></a>
    </div>
	</li>
        <li><a href="/dashboard"><i class="material-icons">dashboard</i>Dashboard</a></li>
        <li><a href="/dashboard/lockers"><i class="material-icons">dns</i>Lockers</a></li>
        <li><a href="/logout"><i class="material-icons">exit_to_app</i>Logout</a></li>
      </ul>
    </div>
  </nav>
