{% extends "base/base_first.html" %}
{% block main %}
<!-- <body class="grey lighten-3" style="margin-top:30%">-->
<!--      <div class="row">-->
<!--         <div class="col m2"></div>-->
<!--         <div class="col m8">-->



<!--             </div>-->
<!--           </div>-->
<!--         </div>-->
<!--         <div class="col m2"></div>-->
<!--       </div>-->
<!-- </body>-->

<div class="slider">
    <ul class="slides">

      <li>
        <img src="https://lorempixel.com/580/250/nature/1"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/2"> <!-- random image -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/3"> <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/4"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
	<a href="/login" class="waves-effect waves-light btn blue"><i class="material-icons left">cloud</i>Login/Register</a>
  </div>
{% endblock %}

