{% extends "base/base_first.html" %}
{% block main %}
<body class="indigo darken-4" style="margin-top:20%">
	<h1 class="center white-text">SMART LOCKER</h1>
     <div class="row">
	<div class="col s2 m3"></div>
        <div class="col s8 m6">
          <div class="card grey lighten-3">
            <div class="card-content grey-text text-darken-2">
		<form action="{{request.path}}" method="POST">
		{{ form.csrf_token }}
		<div class="row">
		<div class="input-field col s12">
		<i class="material-icons prefix">account_circle</i>
		{{ form.username }}
		{{ form.username.label }}
		{% if form.errors %}
			<div class="red lighten-5 red-text text-darken-4">
			{{ ', '.join(form.username.errors) }}
			</div>
			{% endif %}
		</div>
		<div class="input-field col s12">
		<i class="material-icons prefix">vpn_key</i>
		{{ form.password }}
		{{ form.password.label }}
		</div>
		</div>
		<button type="submit" class ="indigo darken-1 waves-effect waves-light btn">LOGIN</button>
		<a href="/register" class="indigo darken-2 waves-effect waves-light btn">REGISTER</a>
		</form>         



	    </div>
          </div>
        </div>
	<div class="col m2"></div>
      </div>
</body>
{% endblock %}

