{% extends "base/base_first.html" %}
{% block main %}
<body class="indigo darken-4" style="margin-top:20%">
	<h1 class="center white-text">SMART LOCKER</h1>
     <div class="row">
	<div class="col m2"></div>
        <div class="col m8">
          <div class="card lighten-3">
            <div class="card-content grey-text text-darken-2">
		<form action="{{request.path}}" method="POST">
		{{ form.csrf_token }}
		<div class="row">
		<div class="input-field col s12">
		<i class=" material-icons prefix">account_circle</i>
		{{ form.username }}
		{{ form.username.label }}
		{% if form.username.errors %}
			<div class="red lighten-5 red-text text-darken-4">
			{{ ', '.join(form.username.errors) }}
			</div>
			{% endif %}
		</div>
		<div class="input-field col s12">
		<i class="material-icons prefix">contact_mail</i>
		{{ form.email }}
		{{ form.email.label }}
		</div>
		<div class="input-field col s12">
		<i class="material-icons prefix">contact_phone</i>
		{{ form.phone }}
		{{ form.phone.label }}
		</div>
		<div class="input-field col s6">
		<i class="material-icons prefix">vpn_key</i>
		{{ form.password }}
		{{ form.password.label }}
		</div>
		<div class="input-field col s6">
		<i class="material-icons prefix">vpn_key</i>
		{{ form.password_conf }}
		{{ form.password_conf.label }}
		</div>
		<div class="input-field col s6">
		<i class="material-icons prefix">event_note</i>
		{{ form.first_name }}
		{{ form.first_name.label }}
		</div>
		<div class="input-field col s6">
		<i class="material-icons prefix">event_note</i>
		{{ form.last_name }}
		{{ form.last_name.label }}
		</div>
		</div>
		<button type="submit" class ="indigo darken-1 waves-effect waves-light btn">REGISTER</button>
		</form>         



	    </div>
          </div>
        </div>
	<div class="col m2"></div>
      </div>
</body>
{% endblock %}

